{% extends '::base.html.twig' %}

{#
{% stylesheets 'bundles/New/css/photostyle.css'
   filter="cssrewrite" %}
  <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
#}

{% block body %}
<div class="filmspace">
    <div class="film_strip">
        <img class="photosinstylesheet" src="http://placehold.it/263x180" />
        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
    </div>
</div>
       
<<<<<<< HEAD
       so far so good..

	

{% image '@NewBundle/Resources/public/images/daisybaby.gif' %}
    <img src="{{ asset_url }}" alt="Example" />
{% endimage %}



       
       </div>
{% endblock %} 
=======
{% endblock %}

     
>>>>>>> 706b0264d3f259d90536ae404e2cc16416f9a773
